@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand';
}

@keyframes slide-down {
  from {
    transform: translateY(-40%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.drawer {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition: all ease-in-out 0.5s;
}

.drawer.open {
  animation-name: slide-down;
}

.drawer.close {
  animation-name: slide-up;
}